.table {
    justify-content: center;
    margin: 5em auto;
    color: #fff;
    border: none;
    border-collapse: collapse;
    transition: all 1s ease;
    width: 70em;
    height: 10em;
    padding: 1em;
    overflow-y: scroll;
}

.table td{
    padding: 0.5em;
}

.table .thead th{
    font-weight: 800;
    padding: 0.5em;
    background: lightgreen;
    border: none;
    text-align: center;
}

.table .tbody td {
    font-weight: 600;
    color: gray;
    background: #e5e5e5;
    border-bottom: 1px solid #fff;
}

.table .tbody .id {
    background: #ff2401;
    text-align: center;
    color: #fff;
    border: none;
}

@media (max-width: 720px){
    .table {
        width: 10em;
        height: 20em;
        font-size: 20px;
    }
}